/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * railroadink implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * railroadink.css
 *
 * railroadink stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (railroadink_railroadink.tpl), and to HTML elements you create dynamically
    (in railroadink.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

.field {
  position: absolute;
  height: 45px;
  width: 45px;
}

.field.available {
  background-color: rgba(0, 0, 0, 0.2);
  pointer-events: all;
  cursor: pointer;
}

.field .route {
  transition: transform 0.3s ease-in-out;
  background-size: 135px 225px;
  width: 100%;
  height: 100%;
}

.field .route.set {
  background-image: url('img/routes.png');
}

.player-area {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
}
.player-sheet {
  position: relative;
  height: 525px;
  width: 350px;
  background-image: url(img/boards_blue.jpg);
  background-size: 2100px 525px;
}

.player-sheets.red .player-sheet {
  background-image: url(img/boards_red.jpg);
}

.player-area:nth-child(2) .player-sheet {
  background-position: -350px 0px;
}
.player-area:nth-child(3) .player-sheet {
  background-position: -700px 0px;
}
.player-area:nth-child(4) .player-sheet {
  background-position: -1050px 0px;
}
.player-area:nth-child(5) .player-sheet {
  background-position: -1400px 0px;
}
.player-area:nth-child(6) .player-sheet {
  background-position: -1750px 0px;
}

#dice {
  text-align: center;
}

.die {
  background-color: white;
  height: 45px;
  width: 45px;
  display: inline-block;
  border-radius: 4px;
  background-image: url('img/dice.png');
  background-size: 135px 225px;
}

.die.route-0,
.field .route.route-type-0.route-0 {
  background-position: -45px 0px;
}
.die.route-1,
.field .route.route-type-0.route-1 {
  background-position: -90px 0px;
}
.die.route-2,
.field .route.route-type-0.route-2 {
  background-position: -0px -0px;
}
.die.route-3,
.field .route.route-type-0.route-3 {
  background-position: -45px -45px;
}
.die.route-4,
.field .route.route-type-0.route-4 {
  background-position: -90px -45px;
}
.die.route-5,
.field .route.route-type-0.route-5 {
  background-position: 0px -45px;
}
.die.route-6,
.field .route.route-type-0.route-6 {
  background-position: 0px -90px;
}
.die.route-7,
.field .route.route-type-0.route-7 {
  background-position: -90px -90px;
}
.die.route-8,
.field .route.route-type-0.route-8 {
  background-position: -45px -90px;
}

.special-routes {
  position: absolute;
  top: 9px;
  left: 17px;
}

.special-route {
  border-radius: 5px;
  height: 44px;
  width: 43px;
  display: inline-block;
  margin-right: 7px;
  background-size: 258px 44px;
  background-image: url(img/special_routes.png);
  opacity: 0.6;
}

.special-routes.active .special-route {
  opacity: 1;
}

.special-route.special-route-1 {
  background-position: -43px 0px;
}

.special-route.special-route-2 {
  background-position: -86px 0px;
}

.special-route.special-route-3 {
  background-position: -129px 0px;
}

.special-route.special-route-4 {
  background-position: -172px 0px;
}

.special-route.special-route-5 {
  background-position: -215px 0px;
}

.special-route.special-route-6 {
  background-position: -258px 0px;
}

.field .route.route-type-1.route-0 {
  background-position: 0px -135px;
}
.field .route.route-type-1.route-1 {
  background-position: -45px -135px;
}
.field .route.route-type-1.route-2 {
  background-position: -90px -135px;
}
.field .route.route-type-1.route-3 {
  background-position: 0px -180px;
}
.field .route.route-type-1.route-4 {
  background-position: -45px -180px;
}
.field .route.route-type-1.route-5 {
  background-position: -90px -180px;
}
.field .route.route-type-1.route-6 {
  background-position: 0px -90px;
}

.field .interactions {
  display: none;
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.field .round-number {
  font-size: 10px;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 10px;
}

.field {
  pointer-events: none;
}

.field.interactive .interactions {
  display: inherit;
  pointer-events: all;
  z-index: 1;
}

.field .interactions .bgabutton {
  padding: 0px 0px;
  position: absolute;
  min-height: 30px;
  min-width: 30px;
  text-align: center;
  line-height: 30px;
}
.field .interactions .bgabutton.left {
  left: -35px;
  top: -5px;
}
.field .interactions .bgabutton.right {
  right: -35px;
  top: -5px;
}
.field .interactions .bgabutton.flip {
  top: -48px;
  left: 7px;
}
.field .interactions .bgabutton.done {
  bottom: -42px;
  left: 8px;
}

.special-routes.active .special-route,
#dice.active .die {
  cursor: pointer;
}

.special-routes.active .special-route,
#dice.active .die {
  transform: none;
  transition: 0.3s ease-in-out;
}

.special-routes.active .special-route.selected,
#dice.active .die.selected {
  opacity: 1;
  transform: scale(1.1);
}

.special-routes .special-route.used,
#dice .die.used {
  opacity: 0.5;
  transform: scale(0.9) !important;
  pointer-events: none;
}

.player-area .score {
  width: 311px;
  height: 22px;
  position: absolute;
  top: 111px;
  left: 20px;
}

.player-area .score .score-part {  
  width: 20px;
  height: 17px;
  display: inline-block;
  margin-left: 22px;
  font-size: 12px;
  text-align: center;
  vertical-align: bottom;
  padding-top: 5px;
}

.player-area .score .score-part.total {
  margin-left:  12px;
}