/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * MrJack implementation : © Jurica Hladek (jurica.hladek@gmail.com)
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * mrjack.css
 *
 * MrJack stylesheet
 *
 */

html {
   background: #232c31;
}

#page-content.game-content {
   zoom: inherit !important;
}

/******** LAYOUT **********/

#play-area {
   display: flex;
   flex-direction: row;
   align-items: center;
   justify-content: space-around;
}

#responsive-board {
   width: 108.45vh;
   max-width: calc((100vw - 240px) * 0.8 );
   height: 90vh;
   max-height: calc((100vw - 240px) * 0.8 / 1.205 );
   position: relative;
   margin: auto;
}

.info-wrapper{
   display: flex;
   flex-direction: column;   
   width: 10%;
   max-width: 16vh;
   order: 3;
   align-items: center;
}

#card-display {
   width: 10%;
   max-width: 16vh;
   position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: center;
}

.deck-wrapper{
   display: flex;
   flex-direction: column;
   align-items: center;
   width: 100%;
   color: white;
}

/****** BOARD ********/

#board{
   background-image: url(img/board.jpg);
   width: 100%;
   height: 100%;
   background-size: cover;
   transition: 2.5s ease-in-out transform;
}

.field{
   position: absolute;
   width: 9.5%;
   height: 10.4%;
}

.field-interaction {
   width: 85.25%;
   height: 97.02%;
   border-radius: 50%;
   position: absolute;
   top: 50%;
   left: 50%;
   margin-left: -41.92%;
   margin-top: -44.28%;
   z-index: 100;
   pointer-events: none;
}

.field .field-visuals {
   width: 100%;
   height: 100%;
   position: absolute;
   z-index: 100;
   pointer-events: none;
}

.field.highlight .field-interaction {
   cursor: pointer;
   pointer-events: all;
}

.field.highlight .field-visuals {
   background-image: url(img/elements.png);
   background-size: 1600%
}

.field.highlight.select .field-visuals {
   background-position: 64.8% 2.2%;
}

.field.highlight.select.manhole .field-visuals {
   background-position: 74.7% 1.8%;
}

.field.highlight.select.manhole .field-interaction:hover ~ .field-visuals{
   background-position: 83.85% 1.88%;
}

.field.highlight.cancel .field-visuals {
   background-image: none;
}
.field.highlight.cancel .field-interaction{
   cursor: pointer;
}
.field.highlight.move .field-visuals{
   background-position: 7.5% 2.2%;
   opacity: 0.5;
}

.field.highlight.available .field-visuals{
   background-image: none;
}

.field.highlight.move .field-interaction:hover ~ .field-visuals{
   background-position: 0.5% 2.2%;
}

.field.highlight.move.from-s .field-visuals{
   transform: rotate(0deg);
}
.field.highlight.move.from-sw .field-visuals{
   transform: rotate(60deg);
}
.field.highlight.move.from-nw .field-visuals{
   transform: rotate(120deg);
}
.field.highlight.move.from-n .field-visuals{
   transform: rotate(180deg);
}
.field.highlight.move.from-ne .field-visuals{
   transform: rotate(-120deg);
}
.field.highlight.move.from-se .field-visuals{
   transform: rotate(-60deg);
}

.field.highlight.move.manhole .field-visuals{
   background-position: 74.7% 1.8%;
}

.field.highlight.move.manhole .field-interaction:hover ~ .field-visuals{
   background-position: 83.85% 1.88%;
}

.field.highlight.move.out-of-manhole .field-visuals,
.field.highlight.move.out-of-manhole .field-interaction:hover ~ .field-visuals{
   background-position: 33% 2.38%;
}

.field.highlight.move.into-manhole .field-visuals,
.field.highlight.move.into-manhole .field-interaction:hover ~ .field-visuals{
   background-position: 24.7% 3.63%;
}

.field.highlight.move.capture .field-visuals{
   background-position: 43.3% 4.42%;
}

.field.highlight.move.capture .field-interaction:hover ~ .field-visuals{
   background-position: 53.5% 4.42%;
}

.field.highlight.move.escape .field-visuals{
   background-position: 91.5% 1.7%;
   border-radius: 0px;
}

.field.highlight.move.escape .field-interaction:hover ~ .field-visuals{
   background-position: 91.5% 1.7%;
}

.field.highlight.rotate .field-visuals{
   background-position: 76.3% 14.69%;
}

.field.highlight.rotate .field-interaction:hover ~ .field-visuals{
   background-position: 68.7% 16%;
}

.field.highlight.rotate.rotate-n .field-visuals{
   top: -7%;
   left: -15%;
}
.field.highlight.rotate.rotate-nw .field-visuals{
   transform: rotate(-60deg);
   top: 7%;
   left: -14%;
}
.field.highlight.rotate.rotate-sw .field-visuals{
   transform: rotate(-120deg);
   top: 18%;
   left: -2%;
}
.field.highlight.rotate.rotate-s .field-visuals{
   transform: rotate(-180deg);
   top: 3%;
   left: 8%;
}
.field.highlight.rotate.rotate-ne .field-visuals{
   transform: rotate(60deg);
   top: -13%;
   left: -4%;
}
.field.highlight.rotate.rotate-se .field-visuals{
   transform: rotate(120deg);
   top: -4%;
   left: 8%;
}

#field-0--1 {
   top: 86.912% !important;
   left: 87.123% !important;
}

#field-0--1.rotate {
   top: 81.254361598441% !important;
   left: 88.125% !important;
}

#field-0--1.field.highlight.move.escape .field-visuals {
   transform: rotate(180deg) scaleX(-1);
}

#field-11-4 {
   top: 88.135% !important;
   left: 3.765% !important;
}

#field-11-4.rotate {
   top: 86.370516569201% !important;
   left: 9.8300970873786% !important;
}

#field-11-4.field.highlight.move.escape .field-visuals {
   transform: rotate(180deg);
}

#field-1-7 {
   top: 2.173% !important;
   left: 86.408% !important;
}

#field-1-7.rotate {
   top: 4.512037037037% !important;
   left: 81.007281553398% !important;
}

#field-1-7.field.highlight.move.escape .field-visuals {
   transform: none;
}

#field-12-12 {
   top: 6.296% !important;
   left: 0% !important;
}

#field-12-12.rotate {
   top: 9.6281920077973% !important;
   left: 2.7123786407767% !important;
}

#field-12-12.field.highlight.move.escape .field-visuals {
   transform: scaleX(-1) rotate(20deg);
}

.lights {
   display: block;
   background-image: url(img/elements.png);
   background-size: 1800%;
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;   
   z-index: 25;
}

.lights-flicker .lights.lights-gaslight{
   animation: flicker 1s linear 1;
}

.lights-wrapper {
   height: 100%;
   width: 100%;
   position: absolute;
   top: 0px;
   left: 0px;
   pointer-events: none;
}

.lights-off .lights {
   display: none;
}

.lights-off .lights.lights-watson {
   display: block;
}

@keyframes flicker {
	0%, 7.999%, 34%, 37.999%, 62%, 65.999%, 70% {
		opacity: 1;		
	}
	8%, 33.999%, 38%, 61.999%, 66%, 69.999% {
		opacity: 0.2;
	}
}

.lights.lights-gaslight {
   background-position: 15.75% 3%;
}

.lights.lights-proximity {
   background-position: 64.7% 3%;
}

.lights.lights-watson {
   height: 100%;
   width: 100%;
   background-image: none;
   transition: transform ease-in-out 500ms;
}

.lights-transform{
   display: none;
   width: 660%;
   background-size: 260%;
   height: 89.58%;
   background-position: -1% 15.6%;
   background-image: url(img/elements.png);
   position: relative;
   transition: transform ease-in-out 500ms;
}

.lights-watson .lights-transform{
   display: block;
   transform-origin: 0px 50%;
   left: 80%;
}

.lights.lights-watson.length-7 .lights-transform {
   transform: scaleX(1);
}
.lights.lights-watson.length-6 .lights-transform {
   transform: scaleX(0.855);
}
.lights.lights-watson.length-5 .lights-transform {
   transform: scaleX(0.71);
}
.lights.lights-watson.length-4 .lights-transform {
   transform: scaleX(0.57);
}
.lights.lights-watson.length-3 .lights-transform {
   transform: scaleX(0.43);
}
.lights.lights-watson.length-2 .lights-transform {
   transform: scaleX(0.30);
}
.lights.lights-watson.length-1 .lights-transform {
   transform: scaleX(0.16);
}
.lights.lights-watson.length-0 .lights-transform {
   transform: scaleX(0.04) scaleY(0.7);
}

.lights-off .lights.lights-watson .lights-transform {
   transform: scaleX(0.04) scaleY(0.7);
}
.lights-off .lights.lights-watson{
   z-index: 101;
}
.lights-off .lights.lights-watson.length-7 .lights-transform {
   left: 0%;
}

.lights.lights-watson.to-se {
   transform: rotate(31deg);
}

.lights.lights-watson.to-s {
   transform: rotate(90deg);
}

.lights.lights-watson.to-sw {
   transform: rotate(149deg);
}

.lights.lights-watson.to-nw {
   transform: rotate(-149deg);
}

.lights.lights-watson.to-n {
   transform: rotate(-90deg);
}

.lights.lights-watson.to-ne {
   transform: rotate(-31deg);
}

.lights.to-nw{
   transform: rotate(-60deg);
}
.lights.to-sw{
   transform: rotate(-120deg);
}
.lights.to-s{
   transform: rotate(-180deg);
}
.lights.to-ne{
   transform: rotate(60deg);
}
.lights.to-se{
   transform: rotate(120deg);
}

.pawn {
   height: 100%; 
   width: 100%; 
   display: none;
   perspective: 300px;
   z-index: 75;
   position: absolute;
}

.pawn-visual{
   z-index: 75;
   height: 100%; 
   width: 100%; 
   top: 50%;
   left: 50%;
   margin-top: -45.423%;
   margin-left: -50%;
   position: absolute;
   transition: top 500ms ease-in-out;
   transform-style: preserve-3d;
}

.pawn-visual.animate-flip{
   transition: transform 500ms ease-in-out;
}

.pawn-visual-face {
   height: 100%; 
   width: 100%; 
   background-image: url(img/pawns.png);
   background-size: 750%;
   position: absolute;
   backface-visibility: hidden;
}

.pawn-visual-face.back {
   transform: rotateY(180deg);
}

.pawn.selected .pawn-visual{
   top: 38%;
}

.field.available .field-interaction:hover ~ .pawn .pawn-visual{
   top: 44%;
}

.field.available .pawn {
   animation: blink 5s ease-in-out infinite
}

@keyframes blink {
	0%, 67%, 73% {
		transform: none;		
	}
	70% {
		transform: scale(1.2);
   }
}

.pawn.flipped .pawn-visual {
   transform: rotateY(180deg);
}

.pawn.selected .pawn-effect,
.field.available .pawn-effect {
   background-image: url(img/pawns.png);
   background-size: 750%;
   z-index: 70;
   background-position: 0% -25.5%;
   position: absolute;
   height: 100%;
   width: 100%;
}

.pawn.swg {
   display: block;
}
.pawn.swg .pawn-visual-face.front{
   background-position: 28.7% 0.5%;
}
.pawn.swg .pawn-visual-face.back{
   background-position: 28.7% 49.8%;
}
.pawn.swg.selected .pawn-visual-face.front,
.field.available .pawn.swg .pawn-visual-face.front{
   background-position: 28.7% 25.5%;
}
.pawn.swg.selected .pawn-visual-face.back,
.field.available .pawn.swg .pawn-visual-face.back{
   background-position: 28.7% 73.5%;
}
.pawn.jhw {
   display: block;
}
.pawn.jhw .pawn-visual-face.front{
   background-position: 71.7% 0.5%;
}
.pawn.jhw .pawn-visual-face.back{
   background-position: 71.7% 49.8%;
}
.pawn.jhw.selected .pawn-visual-face.front,
.field.available .pawn.jhw .pawn-visual-face.front{
   background-position: 71.7% 25.5%;
}
.pawn.jhw.selected .pawn-visual-face.back,
.field.available .pawn.jhw .pawn-visual-face.back{
   background-position: 71.7% 73.5%;
}
.pawn.sh {
   display: block;
}
.pawn.sh .pawn-visual-face.front{
   background-position: 14.1% 0.5%;
}
.pawn.sh .pawn-visual-face.back{
   background-position: 14.1% 49.8%;
}
.pawn.sh.selected .pawn-visual-face.front,
.field.available .pawn.sh .pawn-visual-face.front{
   background-position: 14.1% 25.5%;
}
.pawn.sh.selected .pawn-visual-face.back,
.field.available .pawn.sh .pawn-visual-face.back{
   background-position: 14.1% 73.5%;
}
.pawn.sg {
   display: block;
}
.pawn.sg .pawn-visual-face.front{
   background-position: 100.5% 0.5%;
}
.pawn.sg .pawn-visual-face.back{
   background-position: 100.5% 49.8%;
}
.pawn.sg.selected .pawn-visual-face.front,
.field.available .pawn.sg .pawn-visual-face.front{
   background-position: 100.5% 25.5%;
}
.pawn.sg.selected .pawn-visual-face.back,
.field.available .pawn.sg .pawn-visual-face.back{
   background-position: 100.5% 73.5%;
}
.pawn.jb {
   display: block;
}
.pawn.jb .pawn-visual-face.front{
   background-position: 43.1% 0.5%;
}
.pawn.jb .pawn-visual-face.back{
   background-position: 43.1% 49.8%;
}
.pawn.jb.selected .pawn-visual-face.front,
.field.available .pawn.jb .pawn-visual-face.front{
   background-position: 43.1% 25.5%;
}
.pawn.jb.selected .pawn-visual-face.back,
.field.available .pawn.jb .pawn-visual-face.back{
   background-position: 43.1% 73.5%;
}
.pawn.js {
   display: block;
}
.pawn.js .pawn-visual-face.front{
   background-position: -0.5% 0.5%;   
}
.pawn.js .pawn-visual-face.back{
   background-position: -0.5% 49.8%;
}
.pawn.js.selected .pawn-visual-face.front,
.field.available .pawn.js .pawn-visual-face.front{
   background-position: -0.5% 25.5%;
}
.pawn.js.selected .pawn-visual-face.back,
.field.available .pawn.js .pawn-visual-face.back{
   background-position: -0.5% 73.5%;
}
.pawn.ms {
   display: block;
}
.pawn.ms .pawn-visual-face.front{
   background-position: 57.4% 0.5%;
}
.pawn.ms .pawn-visual-face.back{
   background-position: 57.4% 49.8%;
}
.pawn.ms.selected .pawn-visual-face.front,
.field.available .pawn.ms .pawn-visual-face.front{
   background-position: 57.4% 25.5%;
}
.pawn.ms.selected .pawn-visual-face.back,
.field.available .pawn.ms .pawn-visual-face.back{
   background-position: 57.4% 73.5%;
}
.pawn.il {
   display: block;
}
.pawn.il .pawn-visual-face.front{
   background-position: 86.3% 0.5%;
}
.pawn.il .pawn-visual-face.back{
   background-position: 86.3% 49.8%;
}
.pawn.il.selected .pawn-visual-face.front,
.field.available .pawn.il .pawn-visual-face.front{
   background-position: 86.3% 25.5%;
}
.pawn.il.selected .pawn-visual-face.back,
.field.available .pawn.il .pawn-visual-face.back{
   background-position: 86.3% 73.5%;
}

.token {
   display: none;
   position: absolute;
   height: 95.5%;
   width: 100%;
   background-image: url(img/tokens.png);
   background-size: 300%;
   filter: drop-shadow(0.5px 0.5px 1.5px #333) 
      drop-shadow(1px 1px 1.5px #333) 
      drop-shadow(1.5px 1.5px 0px #333) 
      drop-shadow(2px 2px 0px #333);
}

.token.gaslight {
   display: block;   
}

.token.gaslight.removing{
   animation: remove-gaslight 2s ease-in-out 1;
}

@keyframes remove-gaslight{
   50% {
      transform: scale(1.3);  
   }
   100% {
      transform: scale(0);
   }
}

.token.gaslight.gaslight-0 {
   background-position: 0% 0%;
}
.token.gaslight.gaslight-1 {
   background-position: 200% 0%;
}
.token.gaslight.gaslight-2 {
   background-position: 100% 0%;
}
.token.gaslight.gaslight-3 {
   background-position: 200% 50%;
}
.token.gaslight.gaslight-4 {
   background-position: 0% 50%;
}

.token.manhole {
   display: block;
   background-position: 100% 50%;
}

.z-order-24 .token {
   z-index: 0;
}
.z-order-23 .token {
   z-index: 1;
}
.z-order-22 .token {
   z-index: 2;
}
.z-order-21 .token {
   z-index: 3;
}
.z-order-20 .token {
   z-index: 4;
}
.z-order-19 .token {
   z-index: 5;
}
.z-order-18 .token {
   z-index: 6;
}
.z-order-17 .token {
   z-index: 7;
}
.z-order-16 .token {
   z-index: 8;
}
.z-order-15 .token {
   z-index: 9;
}
.z-order-14 .token {
   z-index: 10;
}
.z-order-13 .token {
   z-index: 11;
}
.z-order-12 .token {
   z-index: 12;
}
.z-order-11 .token {
   z-index: 13;
}
.z-order-10 .token {
   z-index: 14;
}
.z-order-9 .token {
   z-index: 15;
}
.z-order-8 .token {
   z-index: 16;
}
.z-order-7 .token {
   z-index: 17;
}
.z-order-6 .token {
   z-index: 18;
}
.z-order-5 .token {
   z-index: 19;
}
.z-order-4 .token {
   z-index: 20;
}
.z-order-3 .token {
   z-index: 21;
}
.z-order-2 .token {
   z-index: 22;
}
.z-order-1 .token {
   z-index: 23;
}
.z-order-0 .token {
   z-index: 24;
}

.police-cordon{
   transition: top 1s, left 1s;
}
.police-cordon::after{
   transition: transform 1s, top 1s, left 1s;
}

.police-cordon{
   position: absolute;
   display:none;
   background-image: url(img/elements.png);
   background-size: 850%;
   height: 17%;
   width: 17%;
}

.police-cordon.active {
   display: block;
}

.police-cordon.highlight{
   display: block;
   background: none;
}

.police-cordon.highlight::after{
   cursor: pointer;
}

.police-cordon::after {
   content: "";
   height: 27%;
   width: 47%;
   position: absolute;
   z-index: 99;
   background-image: url(img/elements.png);
   background-size: 2000%;
   background-position: 59.2% 19.8%;
}

.police-cordon.highlight::after {
   background-position: 46.5% 19.8% !important;
}

#police-cordon-nw {
   background-position: 46% 37.7%;
   top: 4.5%;
   left: -1.9%;
}

#police-cordon-nw::after {
   top: 43.5%;
   left: 41.1%;
   transform: rotate(-50deg);
}

#police-cordon-ne {
   background-position: 66% 35%;
   top: 0%;
   left: 82%;
}

#police-cordon-ne::after {
   top: 59%;
   left: 12%;
   transform: rotate(27deg);
}

#police-cordon-sw {
   background-position: 44.8% 65.5%;
   top: 83%;
   left: 1%;
}

#police-cordon-sw::after {
   top: 25%;
   left: 39%;
   transform: rotate(212deg);
}

#police-cordon-se {
   background-position: 63.9% 64.7%;
   top: 82%;
   left: 82%;
}

#police-cordon-se::after {
   top: 24%;
   left: 22%;
   transform: rotate(147deg);
}

/****** PLAYER BOARDS ********/
.private-cards {
   flex-grow: 1;
}

.stockitem{
   border-radius: 8%;
   z-index: 102;
}

/*******   INFO SECTION  ******/
#alibi-card-deck{
   background-position: 0.7% -344.7%;
}

#character-card-deck{
   background-position: -98.2% -344.7%;
}

.facedown-deck {
   width: 90%;
   padding-top: 140%;
   border-radius: 8%;
   background-image: url(img/cards.jpg);
   margin: 5px 0px 0px;
   background-size: 415%;
}

.witness-card-wrapper{
   width: 90%;
   padding-top: 140%;
   margin: 5px 0px;
   position: relative;
}

#card-display.active .character-card{
   cursor: pointer;
}

#card-display .character-card {
   width: 90%;
   padding-top: 140%; /* aspect-ratio */
   border-radius: 8%;
   background-image: url(img/cards.jpg);
   margin: 5px 0px;
   background-size: 410%;
}

#card-display .character-card.il {
   background-position: 0.4% 0.5%;
}
#card-display .character-card.ms {
   background-position: 33.45% 0.5%;
}
#card-display .character-card.jb {
   background-position: 66.6% 0.5%;
}
#card-display .character-card.jhw {
   background-position: 99.6% 0.5%;
}
#card-display .character-card.swg {
   background-position: 0.4% 50%;
}
#card-display .character-card.sg {
   background-position: 33.45% 50%;
}
#card-display .character-card.js {
   background-position: 66.6% 50%;
}
#card-display .character-card.sh {
   background-position: 99.6% 50%;
}
#card-display .character-card.used {
   opacity: 0.5;
   transform: scale(0.85);
   cursor: inherit;
}

#card-display .character-card.selected {
   transform: scale(1.1);
}

/* #card-display.selected .character-card {
   display: none;
} */

#card-display #character-ability {
   display: none;
   width: 420px;
   background: #ffffffaa;
   border-radius: 2%;
   padding: 10px;
   margin-right: 10px;
}

/* #card-display.selected #character-ability {
   display: block;
} */

.character-ability-box{
   display: flex;
   flex-direction: column;
}

.character-info {
   display: flex;
   flex-direction: row;
   justify-content: space-around;
   align-items: center;
}

.character-ability-box .character-text {
   width: 330px;
}

.character-ability-interactions {
   display: none;
}

.character-ability-interactions.active {
   display: block;
}

.character-ability-interactions .character-ability-use-button {
   display: none;
}

.character-ability-interactions .character-ability-use-button.active {
   display: inline-block;
}

.witness-card {
   position: absolute;
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   transition: transform 1000ms ease-in-out;
   transform-style: preserve-3d;
}

.witness-card.fast-reduce {
   transition-duration: 500ms;
}
.witness-card.enlarge {
   transform: scale(3);
}

.witness-card.invisible{
   transform: rotateY(180deg);
}

.witness-card.invisible.enlarge{
   transform: scale(3) rotateY(180deg);
}

.witness-card-face {
   height: 100%;
   width: 100%;
   backface-visibility: hidden;
   background-image: url(img/cards.jpg);
   background-size: 420%;
   position: absolute;
   top: 0px;
   left: 0px;
   border-radius: 8%;
}

.witness-card-face.front{
   background-position: -294.4% -342.7%;
}

.witness-card-face.back{
   background-position: -327.4% -342.7%;
   transform: rotateY(180deg);
}

.character-appearance{
   background-image: url(img/characters.png);
   height: 117px;
   width: 100px;
   display: none;
   background-repeat: no-repeat;
}

.character-appearance.swg{
   background-position: 0px 0px;
   width: 69px
}

.character-appearance.sh{
   background-position: -78px 0px;
   width: 69px
}

.character-appearance.sg{
   background-position: -161px 0px;
   width: 73px
}

.character-appearance.ms{
   background-position: -248px 0px;
   width: 48px
}

.character-appearance.jb{
   background-position: -312px 0px;
   width: 68px
}

.character-appearance.il{
   background-position: -390px 0px;
   width: 58px
}

.character-appearance.jhw{
   background-position: -469px 0px;
   width: 78px
}

.character-appearance.js{
   background-position: -546px 0px;
   width: 75px
}

.character-appearance.visible {
   display: block;
}

.character-and-alibi-cards {
   display: flex;
   flex-direction: row;
}

#round-number{
   padding-top: 127%;
   width: 90%;
   background-image: url(img/rounds.jpg);
   background-size: 800%;
   border-radius: 5%;
   order: 1;
}

#round-number.round-1{
   background-position: 0% 0%;
}
#round-number.round-2{
   background-position: -100% 0%;
}
#round-number.round-3{
   background-position: -200% 0%;
}
#round-number.round-4{
   background-position: -300% 0%;
}
#round-number.round-5{
   background-position: -400% 0%;
}
#round-number.round-6{
   background-position: -500% 0%;
}
#round-number.round-7{
   background-position: -600% 0%;
}
#round-number.round-8{
   background-position: -700% 99%;
   padding-top: 92.8%;
}

.round-tooltip .round-end ul li {
   list-style: circle inside;
}

.end-game-dialog {
   margin: 10px;
}

.end-game-dialog .confirm-button {
   float: right;
}

@media (max-width: 979px){
   #play-area{
      flex-direction: row;
      flex-wrap: wrap;
   }

   #responsive-board {
      width: 108.45vh;
      max-width: 95vw;
      height: 90vh;
      max-height: 78.84vw;
   }

   .info-wrapper {
      flex-direction: row;   
      width: 60%;
      max-width: inherit;
      justify-content: center;
   }

   #card-display {
      width: 40%;
      max-width: inherit;
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      order: 2;
   }
 
   .deck-wrapper{
      width: 15%;
      flex-direction: column;
      order: 2;
   }

   .witness-card-wrapper{
      width: 13.34%;
      padding-top: 20.8%;
      margin: inherit;
   }
   
   #card-display .character-card {
      width: 20%;
      padding-top: 30%; /* aspect-ratio */
   }

   #round-number{
      padding-top: 18.8%;
      width: 13.5%;
      margin-right: 18%;
      margin-left: 2%;
   }
   
}