/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Dudo implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * dudo.css
 *
 * Dudo stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (dudo_dudo.tpl), and to HTML elements you create dynamically
    (in dudo.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css);

/****BEGIN****************PLAYER TABLES**************************************
****************this is where the bidding is shown *************************/
#playertables { /*wrapper div for player tables*/
    position: relative;
    width: 660px;
    height: 280px;
}

#usedDiceCup { /*invisible DIV where lost dice go*/
	width: 20px;
	height: 20px;
	left: 320px;
	position: absolute;
	top: 130px;
}

.playertablename { /*name of the player on player table*/
    font-weight: bold;
}

.playertable { /*div where the bidding of a player is shown*/
    position: absolute;
    text-align: center;
    width: 130px;
    height: 100px;
}

.playertablebid{ /*placeholder for player's bid*/
	opacity: 0.5; /*only last bid is not opaque*/
}

.playertable_TL { /*position for top-left player table*/
    left: 170px;
    top: 0px;
}
.playertable_BL { /*position for bottom-left player table*/
    left: 170px;
    bottom: 0px;
}

.playertable_TR { /*position for top-right player table*/
    left: 340px;
    top: 0px;
}
.playertable_BR { /*position for bottom-right player table*/
    left: 340px;
    bottom: 0px;
}

.playertable_L { /*position for left player table*/
    left: 5px;
    top: 50%;
    margin-top: -55px; /* half of 130 */
}
.playertable_R { /*position for right player table*/
    right: 5px;
    top: 50%;
    margin-top: -55px; /* half of 130 */
}
/*****END*****************PLAYER TABLES*************************************/

/*****BEGIN******************DICE*******************************************/

.die{ /*general settings for dice in UI*/
    width: 40px;
    height: 40px;
    background-image: url('img/dice.png');
    background-position: -80px -240px;
    position: absolute;
}

/*colored dice*/
.die_ff0000 {   background-position: -80px -40px;    }  /* red */
.die_008000 {   background-position: -80px -0px;    }   /* green */
.die_0000ff {   background-position: -80px -200px;    } /* blue */
.die_ffa500 {   background-position: -80px -120px;    } /* orange */
.die_a826d7 {   background-position: -80px -160px;    } /* purple */
.die_ffff00 {   background-position: -80px -80px;    }  /* yellow */

/*dice in a player's cup and in bidding-box*/
.top_row_die{   top: 40px;  }
.bottom_row_die{    top: 75px;  }
.left_column_die{   left: 10px; }
.middle_column_die{ left: 50px; }
.right_column_die{  left: 90px; }

/*dots on a die*/
.dots{
    width: 36px;
    height: 34px;
    background-image: url('img/dice.png');
}
.die_one{   background-position: -40px -240px;  }
.die_two{   background-position: -40px -41px;   }
.die_three{ background-position: -40px -81px;   }
.die_four{  background-position: -40px -121px;  }
.die_five{  background-position: -40px -161px;  }
.die_six{   background-position: -40px -201px;  }
.white-dots .die_one{   background-position: 0px -240px;  }
.white-dots .die_two{   background-position: 0px -41px;   }
.white-dots .die_three{ background-position: 0px -81px;   }
.white-dots .die_four{  background-position: 0px -121px;  }
.white-dots .die_five{  background-position: 0px -161px;  }
.white-dots .die_six{   background-position: 0px -201px;  }


/*dice in notifications*/
.die-notif{
    background-image: url('img/dice.png');
    height: 16px;
    width: 20px;
    display: inline;
    background-size: 50px;
    background-repeat: no-repeat;
    background-position: -32px -100px;
    position: absolute;
    margin-left: 3px;
    margin-top: 2px;
}
.dots-notif{
    background-size: 50px;
    background-repeat: no-repeat;
    width: 18px;
    height: 13px;
    background-image: url('img/dice.png');
}
.die_one_notif{ background-position: -15px -100px; }
.die_two_notif{ background-position: -15px -17px; }
.die_three_notif{   background-position: -15px -34px;    }
.die_four_notif{    background-position: -15px -51px;    }
.die_five_notif{    background-position: -15px -67px;    }
.die_six_notif{ background-position: -15px -84px;    }
.white-dots .die_one_notif{ background-position: 1px -100px; }
.white-dots .die_two_notif{ background-position: 1px -17px; }
.white-dots .die_three_notif{   background-position: 1px -34px;    }
.white-dots .die_four_notif{    background-position: 1px -51px;    }
.white-dots .die_five_notif{    background-position: 1px -67px;    }
.white-dots .die_six_notif{ background-position: 1px -84px;    }
.die-notif.die_ff0000 {   background-position: -32px -17px; } /* red */
.die-notif.die_008000 {   background-position: -32px -1px;  } /* green */
.die-notif.die_0000ff {   background-position: -32px -83px; } /* blue */
.die-notif.die_ffa500 {   background-position: -32px -50px; } /* orange */
.die-notif.die_a826d7 {   background-position: -32px -67px; } /* purple */
.die-notif.die_ffff00 {   background-position: -32px -34px; } /* yellow */

/*dice in scoring dialog*/
.dice-score{
    width: 201px;
    height: 40px;
}

.die-score{
    display: inline-block;
    /*zoom: 1;*/
    vertical-align: top;
    font-size: 28px;
    position: inherit !important;
}
/******END***********************DICE********************************/

#mycup{
    position: absolute;
    margin-top: -30px;
}

#mycup_wrap{
    height: 150px;
    width: 180px;
    margin-left: 120px;
}

.bid{
    left: 50%;
    top: 60%;
    margin-left: -30px;
    margin-top: -10px;
    font-weight: bold;
    font-size: 30px;
    position: absolute;
	opacity: inherit;
}

.bid-more-space{
	margin-left: -45px;
}

.bidding_die{
    left: 50%;
    top: 60%;
    margin-top: -10px;
	opacity: inherit;
}

.current_bid{
	opacity: 1;
}

.hidden{
    visibility: hidden;
}

.display-none {
	display: none !important;
}

.dice-bid {
    opacity: 0.2;
}

.dice-bid.last-bid {
    opacity: 1 !important;
}

#bidding_box {
	position: relative;
	top: -180px;
	height: 150px;
	width: 180px;
	margin-left: 70px;
	left: 270px;
}

#die_bid .die {
    opacity: 0.5;
}

.die_bid_selected {
    opacity: 1 !important;
}

#die_bid {
	position: relative;
	margin-top: -30px;
}

#die_bid > div {
    cursor: pointer;
}

.die-bid-disabled {
    cursor: inherit !important;
    background-position-y: 40px !important;
    opacity: 0.1!important;
}

.die-bid-disabled .dots {
    background-position-x: -40px  !important;
}

#number_bid {
	width: 30px;
	margin-top: 5px;
	margin-left: 139px;
	border: 1px solid black;
	text-align: center;
}

.arrow-up {
    width: 19px;
    height: 18px;
    margin-top: 50px;
    margin-left: 145px;
    cursor: pointer;
    background-image: url('img/icon_set_arrows_01.png');
    background-position: -0px -1px;
}

.arrow-up.inactive {
	opacity: 0.4;
	
	cursor: inherit;
}
.arrow-down.inactive {
    opacity: 0.4;
	
	cursor: inherit;
}

.playertable.inactive {
    opacity: 0.4;
}

.arrow-down {
    width: 20px;
    height: 18px;
    margin-top: 5px;
    margin-left: 145px;
    cursor: pointer;
    background-image: url('img/icon_set_arrows_01.png');
    background-position: -20px -0px;
}

#biddingbox-wait {
	text-align: center;
	margin-top: 50px;
}

.calza-info {
    margin-left: 7px;
    display: inline;
    position: relative;
    cursor: default;
}

.number_of_dice{
    display: inline;
    position: relative;
    left: -7px
}

.playertable .die-notif {
    margin-left: -7px;
}

.nr-dice-tooltip {
    cursor: default;
}

.score-die-dimmed {
    opacity: 0.25;
}

.palifico-info {
    text-align: center;
    margin-top: 10px;
}

#cup_bidding {
    position: relative;
}
#perudo_banner {
    position: absolute;
    bottom: 50px;
    left: 0px;
    background-image: url('img/perudo.png');
    width: 730px;
    height: 138px;
}


