/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Qwixx implementation : © <Your name here> <Your email address here>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * qwixx.css
 *
 * Qwixx stylesheet
 *
 */

/*
    This is the CSS stylesheet of your game User Interface.
    
    Styles defined on this file will be applied to the HTML elements you define in your
    HTML template (qwixx_qwixx.tpl), and to HTML elements you create dynamically
    (in qwixx.js).
    
    Usually, you are using CSS to:
    
    1°) define the overall layout of your game
        (ex: place the board on the top left, place player's hand beside, place the deck on the right, ...).

    2°) create your CSS-sprites:
        All images of your games should be gathered into a small number of image files. Then, using
        background-image and background-position CSS properties, you create HTML blocks that can 
        display these images correctly (see example below).
    
    3°) ... anything else:
        It is really easy to add and remove CSS classes dynamically from your Javascript with
        dojo.addClass and dojo.removeClass. It is also easy to check if an element has a class
        (dojo.hasClass) or to get all elements with a specific class (dojo.query). This is why,
        very often, using CSS classes for the logic of your user interface allow you to do complex
        thing easily.
        
        
     Note: on the production platform, this file will be compressed and comments will be removed.
           Consequently, don't hesitate to put as many comments as necessary.
*/

@import url(../../../css/csslayer.css); /* Note: you must not use any @import directive other than this one */

/********* You can start writing your CSS below this line: **********/

.player-scoresheet {
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 0px;
  display: inline-block;
  vertical-align: top;
}

.scoresheet {
  background-image: url('img/scoresheet.png');
  height: 308px;
  width: 500px;
  background-size: 500px;
  background-repeat: no-repeat;
  position: relative;
}

.cross {
  height: 40px;
  width: 39px;
  position: absolute;
}

.fehlwurfen {
  height: 20px;
  width: 80px;
  position: absolute;
  bottom: 51px;
  right: 14px;
}

.fehlwurfe {
  height: 20px;
  width: 20px;
  position: absolute;
}
.fehlwurfe-1 {
  top: 0px;
  left: 0px;
}
.fehlwurfe-2 {
  top: 0px;
  left: 20px;
}
.fehlwurfe-3 {
  top: 0px;
  left: 40px;
}
.fehlwurfe-4 {
  top: 0px;
  left: 60px;
}

#dice {
  padding-left: 50px;
  padding-top: 58px;
  display: inline-block;
  vertical-align: top;
  width: 100px;
}

.die {
  background-image: url('img/dice.png');
  width: 40px;
  height: 40px;
  background-position: -80px -240px;
  display: inline-block;
}

#die_white_1,
#die_white_2 {
  margin-bottom: 10px;
} /*white */
#die_red {
  background-position: -80px -40px;
  clear: left;
} /* red */
#die_green {
  background-position: -80px -0px;
  clear: left;
} /* green */
#die_blue {
  background-position: -80px -200px;
} /* blue */
#die_yellow {
  background-position: -80px -80px;
} /* yellow */

/*dots on a die*/
.dots {
  width: 36px;
  height: 34px;
  background-image: url('img/dice.png');
  background-position: -80px -240px;
}

.dots-1 {
  background-position: -40px -0px;
}
.dots-2 {
  background-position: -40px -41px;
}
.dots-3 {
  background-position: -40px -81px;
}
.dots-4 {
  background-position: -40px -121px;
}
.dots-5 {
  background-position: -40px -161px;
}
.dots-6 {
  background-position: -40px -201px;
}

.dots-white-1 {
  background-position: 0px -0px;
}
.dots-white-2 {
  background-position: 0px -41px;
}
.dots-white-3 {
  background-position: 0px -81px;
}
.dots-white-4 {
  background-position: 0px -121px;
}
.dots-white-5 {
  background-position: 0px -161px;
}
.dots-white-6 {
  background-position: 0px -201px;
}

.little-red-cross {
  background-image: url('img/x_red.png');
  background-size: 15px;
  background-position: center;
  background-repeat: no-repeat;
}

.big-green-cross {
  background-image: url('img/x_green.png');
  background-size: 30px;
  background-position: center;
  background-repeat: no-repeat;
}

.availableField {
  opacity: 0.3;
  cursor: pointer;
}

.availableField.red {
  background-color: red;
}
.availableField.yellow {
  background-color: darkgoldenrod;
}
.availableField.green {
  background-color: green;
}
.availableField.blue {
  background-color: blue;
}

.availableField.primary {
  background-color: black;
  opacity: 0.5;
}
